{% extends 'base.html' %}

{% block content %}
<h3>Books</h3>
<a href="{% url 'book-create' %}">Create book</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">price</th>
      <th scope="col">published_year</th>
      <th scope="col">vaqti</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  {% for book in books %}
  <tbody>
    <tr>
      <th scope="row">{{ book.pk }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.published_year }}</td>
      <td>{{ book.created_at }}</td>
      {% if book.image %}
          <td><img src="{{ book.image.url }}" width=100px height=100px alt="xitoy"></td>
{% else %}
      <td>yoq</td>
      {% endif %}

      <td><a href="{% url 'book-detail' book.pk %}">deatil</a> </td>




    </tr>

  </tbody>
  {% endfor %}
</table>


{% include 'book/pagination.html' with books=books  %}

{% endblock %}